/* Webfont: Guttie-Regular */@font-face {
    font-family: 'Guttie';
    src: url('Guttie.eot'); /* IE9 Compat Modes */
    src: url('Guttie.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Guttie.woff') format('woff'), /* Modern Browsers */
         url('Guttie.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

